public/assets/exhibitionImages/**/*.jpg filter=lfs diff=lfs merge=lfs -text
public/assets/exhibitionImages/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
public/assets/exhibitionImages/**/*.png filter=lfs diff=lfs merge=lfs -text
src/assets/workImages/**/*.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/workImages/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
src/assets/workImages/**/*.png filter=lfs diff=lfs merge=lfs -text
